---
import PageLayout from "~/layouts/PageLayout.astro";
import { sendEvent } from "~/utils/analytics/send-event";
await sendEvent({ data: {}, timestamp: new Date(), type: "user_login" });
---

<PageLayout title="Home">
  <h1>Home Page</h1>
</PageLayout>
