---
import PageLayout from "~/layouts/PageLayout.astro"
---

<PageLayout title="Login">
  <div class="p-2 flex justify-center items-center flex-1">
    <div class="w-full max-w-sm bg-white border border-neutral-300 shadow-lg rounded-2xl sm:p-8 p-4">
      <h1 class="text-center font-bold text-lg">Login</h1>
    </div>
  </div>
</PageLayout>

