---
import { Navigation } from "~/components/Navigation";
import BaseLayout, { type BaseLayoutProps } from "./BaseLayout.astro";

interface Props extends BaseLayoutProps {}

const props = Astro.props;
---

<BaseLayout {...props}>
  <div class="min-h-screen flex flex-col">
    <Navigation client:load />
    <div class="flex-1 flex flex-col">
      <slot />
    </div>
  </div>
</BaseLayout>
